<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>482143429364-7t724v4hn7tua8k6ev9r8q1b0r91l3dp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.482143429364-7t724v4hn7tua8k6ev9r8q1b0r91l3dp</string>
	<key>API_KEY</key>
	<string>AIzaSyCrioMzhW3uLhbAszBNtsSqkkkYCqAycnY</string>
	<key>GCM_SENDER_ID</key>
	<string>482143429364</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>shaina.FoodFriend</string>
	<key>PROJECT_ID</key>
	<string>foodfriend-85d74</string>
	<key>STORAGE_BUCKET</key>
	<string>foodfriend-85d74.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:482143429364:ios:ef6be4cfc136c5c58c74a1</string>
	<key>DATABASE_URL</key>
	<string>https://foodfriend-85d74.firebaseio.com</string>
</dict>
</plist>